#Slides {
  height: 50px;

  .slide-small-child {
    color: #7F97AC;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.24px;
    display: flex;
    align-items: center;
    margin-right: 16px;
    cursor: pointer;
  }

  .active {
    border-bottom: #22c297 3px solid;
    color: #22c297;

  }

}